@import '../src/scss/animations';

.App{
    background-color: transparent;
    min-height: 100vh;
    width: 100vw;
    overflow: auto;

    &::-webkit-scrollbar {
        display: none;
    }

    // fonts
    @import url('https://fonts.googleapis.com/css2?family=Chewy&display=swap');
}

.empty{
    height: 500px;
}